.toolbar{
    text-align: center;
}

.link{
    text-decoration: none;
    display: inline;
    font-weight: 700;
    margin-right: 30px;
    font-size: large;
    cursor: pointer;
}

.text {
    margin-top: 10px;
    font-size: 20px;
    color: #E6E6E6;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;

}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #03DAC6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}